{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>NPSSM</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

{% include 'css.html' %}

{% include 'js.html' %}
</head>

<body>



{% include 'header.html' %}
{% include 'sidebar.html' %}

<div class="col-sm-10" style="margin-top: 3%;">
{% block contain %}

{% endblock %}
</div>


</body>
</html>
