    <div id="throbber" style="display:none; min-height:120px;"></div>
<div id="noty-holder"></div>
<div id="wrapper">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: #169c76;border-color: #fff !important;">   
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="padding: 20px;
            font-size: 24px;color: white;font-weight: bold;letter-spacing: 2px;">
                <!-- <img src="http://placehold.it/200x50&text=LOGO" alt="LOGO""> -->
                NPSSM
            </a>
        </div>


        <ul class="nav navbar-right top-nav">            
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-weight: bold;">TEAM BUG</a>
            </li>
        </ul>
    </nav>
</div>