<div class="col-sm-2">
<nav> 
    <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar">
            <ul class="nav navbar-nav side-nav" 
            style="background-color: #169c76;">
                <li>
                    <a href="#" data-toggle="collapse" data-target="#submenu-1">
                        <i class="fas fa-tree"></i> Plant <i class="fa fa-fw fa-angle-down pull-right"></i></a>
                    <ul id="submenu-1" class="collapse">
                        <li><a href="{% url 'plant_list' %}">Plant Information</a></li>
                        <li><a href="{% url 'plant_cat_list' %}">Plant Category</a></li>
                        <li><a href="{% url 'plant_stock_list' %}">Plant Stock</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" data-toggle="collapse" data-target="#submenu-2"><i class="fas fa-flask"></i>  Pesticide <i class="fa fa-fw fa-angle-down pull-right"></i></a>
                    <ul id="submenu-2" class="collapse">
                        <li><a href="{% url 'pesticide_list' %}">Pesticide Information</a></li>
                        <li><a href="{% url 'pesticide_cat_list' %}">Pesticide Category</a></li>
                        <li><a href="{% url 'pesticide_stock_list' %}">Pesticide Stock</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'maintenance_list' %}"><i class="fas fa-calendar"></i>  Maintenance</a>
                </li>
                <li>
                    <a href="{% url 'sheduling' %}"><i class="fas fa-calendar-alt"></i> Sheduling</a>
                </li>
                <li>
                    <a href="{% url 'report' %}"><i class="fas fa-file"></i> Report</a>
                </li>
            </ul>
        </div>
   
    </nav>
</div>