
{% extends 'base.html' %}
{% block contain %}




  <!-- Modal -->
   <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!--Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Pesticide</h4>
        </div>
        <div class="modal-body">
          <form action="{% url 'pesticide_create' %} " method="POST">{% csrf_token %}
            {{ pesticide_form.as_p }}

            <button type="submit" class="btn btn-primary">Save</button>
            
          </form>
            
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div> 
  

	<!-- table -->
  <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#myModal">Create pesticide</button>
  <h2>Pesticide Information</h2>
  <!-- <p>The .table-bordered class adds borders to a table:</p>             -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Pesticide Name</th>
        <th>Category</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for pesticide in pesticide_list %}
      <tr>
        <td>{{ pesticide.id }}</td>
        <td>{{ pesticide.name }}</td>
        <td>{{ pesticide.category }}</td>
        <td style="text-align: center;">
          <a href="#"><i class="fas fa-pencil-alt" data_url = "{% url 'load_pesticide_update_form' pesticide.id %}" 
          onclick="updatePesticide(this)"></i></a>
          <a href="{% url 'pesticide_delete' pesticide.id %}"><i class="far fa-trash-alt" style="margin-left: 10px;"></i></a>
        </td>

      </tr>
      {% endfor %}
 
    </tbody>
  </table>

  <div id="updatePesticideForm"></div>

{% endblock %}