
{% extends 'base.html' %}
{% block contain %}

	<!-- table -->
  <h2>Pesticide Stock</h2>
  <!-- <p>The .table-bordered class adds borders to a table:</p>             -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Pesticide Name</th>
        <th>Quantity</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for pesticide in stock_list %}
      <tr>
        <td>{{ pesticide.pesticide_name }}</td>
        <td>{{ pesticide.pesticide_quantity }}</td>
        <td style="text-align: center;">
          <a href="#">
          <i class="fas fa-pencil-alt" data_url="{% url 'load_pesticidestock_form' pesticide.id %}" onclick="updatePesticideStock(this);"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
 
    </tbody>
  </table>

  <div id="stockloadform"></div>

{% endblock %}