
{% extends 'base.html' %}
{% block contain %}




  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Maintenance</h4>
        </div>
        <div class="modal-body">
          <form action="{% url 'maintenance_create' %} " method="POST">{% csrf_token %}
            {{ maintenance_form.as_p }}

            <button type="submit" class="btn btn-primary">Save</button>
            
          </form>
            
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  

	<!-- table -->
  <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#myModal" >Create maintenance</button>
  <h2>Maintenance Information</h2>
  <!-- <p>The .table-bordered class adds borders to a table:</p>             -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Plant Name</th>
        <th>Plant Quantity</th>
        <th>Pesticide Name</th>
        <th>Pesticide Quantity</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for maintenence in maintenence_obj %}
      <tr>
        <td>{{ maintenence.plant_name }}</td>
        <td>{{ maintenence.plant_quantity }}</td>
        <td>{{ maintenence.pesticide_name }}</td>
        <td>{{ maintenence.pesticide_quantity }}</td>
        <td>{{ maintenence.timestemp }}</td>
      </tr>
      {% endfor %}
 
    </tbody>
  </table>


{% endblock %}