{% extends 'base.html' %}
{% block contain %}

  <form class="form-inline" action="" method="POST">{% csrf_token %}
    <div class="form-group">
      <label for="focusedInput">Report From</label>
      <input class="form-control" id="focusedInput" type="date" name="from_date" value="{{ from_date }}">
    </div>
    <div class="form-group">
      <label for="focusedInput">Report To</label>
      <input class="form-control" id="focusedInput" type="date" name="to_date" value="{{ to_date }}">
    </div>
    <div class="form-group">
      <button type="submit">Generate Report</button>
    </div>

</form>
{% if not total_entity == "" %}
  <p>Total {{ total_entity }}</p>
{% endif %}

  <table class="table table-bordered" style="margin-top: 20px;">
    <thead>
      <tr>
        <th>Plant Name</th>
        <th>Plant Qty</th>
        <th>Pesticide Name</th>
        <th>Pesticide Qty</th>
        <th>Timestemp</th>
      
      </tr>
    </thead>
    <tbody>
      {% for data in final_report %}
      <tr>
        <td>{{ data.plant_name }}</td>
        <td>{{ data.plant_quantity }}</td>
        <td>{{ data.pesticide_name }}</td>
        <td>{{ data.pesticide_quantity }}</td>
        <td>{{ data.timestemp }}</td>

      </tr>
      {% endfor %}
 
    </tbody>
  </table>

{% endblock %}