{% extends 'base.html' %}
{% block contain %}


<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Schedule</h4>
        </div>
        <div class="modal-body">
          <form action="{% url 'schedule_create' %} " method="POST">{% csrf_token %}
            {{ schedule_form.as_p }}

            <button type="submit" class="btn btn-primary">Save</button>
            
          </form>
            
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>


<button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#myModal">Create Schedule</button>
  <h2>Scheduling</h2>
  <!-- <p>The .table-bordered class adds borders to a table:</p>             -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Plant Name</th>
        <th>Pesticide Name</th>
        <th>Days</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for schedule in scheduling_obj %}
      <tr>
        <td>{{ schedule.plant }}</td>
        <td>{{ schedule.pesticide }}</td>
        <td>{{ schedule.schedule_days }}</td>
        <td>
          <a href="#">
          <i class="fas fa-pencil-alt" data_url="{% url 'schedule_updateload_form' schedule.id %}" onclick="updateSchedule(this);"></i>
          </a>

          <a href="{% url 'delete_schedule' schedule.id %}"><i class="far fa-trash-alt" style="margin-left: 10px;"></i></a></td>
      </tr>
      {% endfor %}
 
    </tbody>
  </table>
  <div id="updateScheduleForm"></div>
{% endblock %}