
{% extends 'base.html' %}
{% block contain %}




  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Plant</h4>
        </div>
        <div class="modal-body">
          <form action="{% url 'plant_create' %} " method="POST">{% csrf_token %}
            {{ plant_form.as_p }}

            <button type="submit" class="btn btn-primary">Save</button>
            
          </form>
            
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  

	<!-- table -->
  <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#myModal">Create plant</button>
  <h2>Plant Information</h2>
  <!-- <p>The .table-bordered class adds borders to a table:</p>             -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Plant Name</th>
        <th>Category</th>
        <th>Age</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for plant in plant_list %}
      <tr>
        <td>{{ plant.name }}</td>
        <td>{{ plant.category }}</td>
        <td>{{ plant.age }}</td>
        <td style="text-align: center;">
          <a href="#">
          <i class="fas fa-pencil-alt" data_url="{% url 'load_plant_update_form' plant.id %}" onclick="updatePlant(this);"></i>
          </a>
          <a href="{% url 'plant_delete' plant.id %}"><i class="far fa-trash-alt" style="margin-left: 10px;"></i></a></td>
      </tr>
      {% endfor %}
 
    </tbody>
  </table>

  <div id="updatePlantForm"></div>

{% endblock %}