
{% extends 'base.html' %}
{% block contain %}

	<!-- table -->
  <h2>Plant Stock</h2>
  <!-- <p>The .table-bordered class adds borders to a table:</p>             -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Plant Name</th>
        <th>Quantity</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for plant in plant_stock %}
      <tr>
        <td>{{ plant.plant_name }}</td>
        <td>{{ plant.plant_quantity }}</td>
        <td style="text-align: center;">
          <a href="#">
          <i class="fas fa-pencil-alt" data_url="{% url 'update_plantstock_loadform' plant.id %}" onclick="updatePlantStock(this);"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
 
    </tbody>
  </table>
  <div id="StockLoadForm"></div>

{% endblock %}