
{% extends 'base.html' %}
{% block contain %}




  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create category</h4>
        </div>
        <div class="modal-body">
          <form action="{% url 'plant_cat_create' %} " method="POST">{% csrf_token %}
            {{ category_form.as_p }}

            <button type="submit" class="btn btn-primary">Save</button>
            
          </form>
            
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  

  <!-- table -->
  <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#myModal">Create plant Category</button>
  <h2>Plant Category</h2>
  <!-- <p>The .table-bordered class adds borders to a table:</p>             -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Category Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for category in category_list %}
      <tr>
        <td>{{ category.name }}</td>
        <td style="text-align: center;">
          <a href="{% url 'plant_cat_delete' category.id %}"><i class="far fa-trash-alt" style="margin-left: 10px;"></i></a></td>
        </td>
      </tr>
      {% endfor %}
 
    </tbody>
  </table>

{% endblock %}